.section-2 a{
    color: #fff; 
    text-decoration: none; 
    font-size: 13px; 
    line-height: 15px; 
    font-weight: 500; 
    font-family: sans-serif; 
    float: left;
    margin-left: ;
    white-space:nowrap;
    padding: 2.5%;
}

.section-2 a:hover{
          
    border-color: #fff;
    border: 1px solid white;
    border-radius: 0.2rem;
    
  }

.section-2 li a{
    font-weight: 700; 
    font-family: sans-serif; 
}

.section-2-nav-item{
    padding-left: 1%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.offcanvas-title{
    color: #fff; 
    text-decoration: none; 
    font-size: px; 
    line-height: 15px; 
    font-weight: 700; 
    font-family: sans-serif; 
}

#offcanvasExampleLabel{
    margin-left: 10%;
}


