@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
@media screen and (min-width: 25em){
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
  }
*{
 
 box-sizing: border-box;

}
/* html {
    font-size: calc(25px + 0.390625vw);
} */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 94%);
}
.sub-container{
    width: 40vw;
    min-height: 74vh;
    background-color:hsl(0, 0%, 100%);
    padding: 3%;
    border-radius: 3%;
    display: flex;
    border-bottom-right-radius: 30%;
}
.inner-container{
    width: 65vw;

}

.user-input{
display: flex;
padding-bottom: 4vh;

}
.user-input{
    
    
    }
.user-input span{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    height:6vh;
    width:7vw;
    padding: 2%;
    border:1px solid hsl(0, 0%, 86%);
    border-radius: 9%;
    font-weight: 800;
    font-size: 0.5em;
    padding-left: 0.8em;
}
input::placeholder{
    font-weight: 800;
    color:   hsl(0, 1%, 44%);
    padding: 0.50rem;
    padding-left: 0.19em;
}

p{
    font-size: 0.3em;
    font-family: sans-serif;
    font-weight: 800;
    line-height: 0;
    color:hsl(0, 0%, 65%) 
    
}

i{
    font-size: 0.285em;
    white-space: nowrap;
    font-family: sans-serif;
    line-height: 0;
    margin-top: 15%;
}







hr{
    color:hsl(0, 0%, 86%) ;
}

.month-input{
    margin-left: 0.50rem;
}
.year-input{
    margin-left: 0.50rem;
}





.main-output-container{
    display: flex;
    flex-direction: column;
    margin-top:18%;
  
}

.main-output-container span{
   white-space: nowrap;
  
}

.main-output-container h1{
    display: inline;
    /* font-weight: 900vm; */
    /* font-size: ; */
    font-family: 'Poppins', sans-serif;
    line-height: 0;
    position:sticky;

    
   
}



.output{
   color: hsl(259, 100%, 65%);
}

.send-button-container {
    width: 11vw;
}



.send-button-container img{
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    width: 1.7em;
    padding: 22%;
    margin-top: 140%;


}

.send-button-container a{
    width: 100%;
    
}